{% extends "base.html" %}

{% block title %}
  Успешное подтверждение завершения занятия
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">
          Занятие успешно завершено
        </h4>
        <p>
          Успешное проведение онлайн-занятия было успешно подтверждено. 
          На почту Вам также прислали дполонительное сообщение. 
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}