{% extends "base.html" %}

{% block title %}Ошибка подтверждения email{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">
            Ошибка подтверждения по электронной почте
          </h4>
          <p>
            Ссылка для подтверждения по электронной почте недействительна или срок её действия истек.
            Пожалуйста, зарегистрируйтесь снова.
          </p>
      </div>  
    </div>
  </div>
</div>
{% endblock %}