<div class="row mb-4">
  <div class="col">
    <div class="card outer card-services card-frequent-choice p-2 rounded-4 shadow-sm by-type-{{ type }}">
      <div class="card-header text rounded-top-3 {% if for_other_page %}text-center{% endif %}">
        <h5 class="mb-0 card-title">{{ card_title }}</h5>
      </div>
      <div class="card-body d-flex flex-column flex-lg-row justify-content-between align-items-center mt-2 p-0">
        {% for service in services %}
          <div class="card-placeholder 
          {% if not forloop.last %}mb-2 mb-lg-0{% endif %}">
            {% include 'includes/cards/nested/service_card.html' with service=service %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>