{% extends 'pages/base.html' %}

{% block title %}Пользовательское соглашение для преподавателей{% endblock title %}

{% block title_doc %}Правила пользования веб-сервисом онлайн-школы для Преподавателей{% endblock title_doc %}

{% block text_doc %}
<ol>
  <li class="headline">  
    <h5>Правила взаимодействия с веб-сервисом:</h5>
    <ol>
      <li class="subheading">
        <h6>Разграничение доступа:</h6>
        <ol>
          <li>
            При входе в Личный кабинет, Преподаватель имеет возможность принимать электронные письма на почту от ИС средством отправки Студентом формы с данными о планировании занятия.
          </li>
        </ol>
      </li>
    </ol>
    <li class="headline">
      <h5>Занятия:</h5>
      <ol>
        <li class="subheading">
          <h6>Общие положения:</h6>
          <ol>
            <li>
              Планирование любого занятия инициируется со стороны Студента после его приобретения виртуальных занятий, выбора даты, времени занятия и преподавателя.
              О запланированном занятии преподаватель узнает по сообщению, поступившему ему на почту путем отправки формы планирования занятия студентом.
            </li>
            <li>
              При поступлении сообщения от ИС с запросом на проведение онлайн-занятия, необходимо подтвердить или отклонить проведение такого онлайн-зянятия,
              нажав на ссылку или проигнорировав сообщение соответственно. В случае игнорирования сообщения, есть вероятность повторного поступления запроса на проведение
              онлайн-занятия по тому же запросившему Студенту. При повторном игнорировании такого запроса, Преподавателю более не будут поступать заявки от такого Студента, но
              не более 24 (двадцати четырех) часов.
            </li>
            <li>
              Факт игнорирования запроса на проведение занятия от Студента считается с момента, когда до начала такого занятия остается менее 2 (двух) часов,
              а ответа Преподавателя на заявку ранее не поступало.
            </li>
            <li>
              Факт игнорирования запроса на проведение занятия считается аннулированием такой заявки.
            </li>
            <li>
              Для подтверждения заявки на проведение занятия, Преподаватель должен перейти по ссылке из сообщения в такой заявке у него на почте, получив соответствующее сообщение на экране веб-сервиса.
            </li>
            <li>
              При отклике на заявку о проведении занятия, Преподаватель берет на себя ответственность за проведение такого занятия со Студентом в онлайн-режиме
              в соответствии со временем, указанным в заявке (включая создание канала связи, подготовку материально-прикладной базы для проведения занятия, а также техническую настройку аппаратуры).
            </li>
            <li>
              При фактическом начале занятия все участники должны присутствовать в сети на платформе, на которой было договорено проводить занятие между Студентом и Преподавателем.
            </li>
            <li>
              Преподаватель должен договориться со Студентом о деталях проведения подтвержденного первым занятия.
            </li>
            <li>
              Занятие считается успешно завершенным при переходе Преподавателя по ссылке подтверждения занятия, отправленной ему на почту в момент фактического окончания занятия,
              если его проведение было заранее подтверждено Преподавателем.
            </li>
            <li>
              При успешном завершении занятия, Преподавателю на счет электронного кошелька поступает Вознаграждение.
            </li>
            <li>
              Преподаватель вправе попросить Студента, с котором было проведено онлайн-занятие, оставить отзыв о первом.
            </li>
            <li>
              Преподаватель имеет возможность записать Студента на следующее занятие с таким Преподавателем, если Студент имеет достаточно средств для следующего занятия и изъявит на то желание.
            </li>
          </ol>
        </li>
        <li class="subheading">
          <h6>Условия проведения сессии занятия:</h6>
          <ol>
            <li>
              При фактичекском наступлении времени начала подтвержденного Преподавателем занятия, указанного в заявке, Преподаватель должен создать канал связи на платформе,
              которую предпочел Студент на этапе предварительного общения с Преподавателем.
            </li>
            <li>
              В случае, если Студент не явился на занятия в течение 5 (пяти) минут с начала такого занятия – Преподаватель должен уведомить Студента
              любым доступным способом о его ожидании в открытом для него канале связи.
            </li>
            <li>
              Если Cтудент не явился на занятие после уведомления от Преподавателя, а договоренность о проведении занятия была инициализирована со  Студентом – Преподаватель
              должен оставаться в сети и в канале связи, созданного им на платформе минимум 15 (пятнадцать) минут с момента фактического начала занятия, а если по истечении
              этого времени Студент также не явился на занятие – имеет право покинуть Платформу видеоконференции и сразу договориться со Студентом о переносе занятия.
              Такое занятие считается аннулированным.
            </li>
            <li>
              Если Студент не выходит на связь после аннулирования занятия, Преподаватель вправе написать Администратору о таком Студенте, чтобы второй предпринял необходимые меры
              для отклика Студента на веб-сервисе или в удобном мессенджере.
            </li>
            <li>
              Если занятие было запланировано, а Студент по определенным причинам не посетил его, ранее не уведомив при этом Преподавателя как минимум за 2 (два) 
              часа – занятие считается аннулированным, а Преподаватель более не будет получать заявки на проведение такого занятия от Студента, но не более 3 (трёх) суток.
            </li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>
</li> 
</ol>
{% endblock text_doc %}

{% block text_note_doc %}

{% endblock text_note_doc %}