{% extends 'pages/base.html' %}

{% block title %}Пользовательское соглашение для студентов{% endblock title %}

{% block title_doc %}Правила пользования веб-сервисом онлайн-школы для Студентов{% endblock title_doc %}

{% block text_doc %}
<ol>
  <li class="headline">  
    <h5>Правила взаимодействия с веб-сервисом:</h5>
    <ol>
      <li class="subheading">
        <h6>Разграничение доступа:</h6>
        <ol>
          <li>
            Неавторизованный Пользователь имеет возможность записаться на Пробное занятие через форму, находящуюся на главной странице Веб-сервиса.
            При записи на такое занятие, ему поступает сообщение на почту от ИС с подробной инструкцией по дальнейшим действиям.
          </li>
          <li>
            При входе в Личный кабинет Пользователя у Студента появляется возможность записаться на бесплатное пробное занятие или сразу приобрести услугу/абонемент на странице ИС,
            после чего он выбирает дату и время первого занятия, а также Преподавателя. Если свободных Преподавателей в системе на дату/время запланированного
            занятия больше одного – имеет возможность выбрать Преподавателя. В противном случае Преподаватель назначается автоматически системой.
          </li>
        </ol>
      </li>
    </ol>
      <li class="headline">
        <h5>Занятия:</h5>
        <ol>
          <li class="subheading">
            <h6>Общие положения:</h6>
            <ol>
              <li>
                После приобретения услуги Студентом, ему предлагается подписаться на рассылку с целью получения оповещений-напоминаний о ближайших занятиях, а также материалов,
                относящихся ко всем обновлениям онлайн-школы для своевременного ознакомления Пользователя.
              </li>
              <li>
                Уведомления на почту приходят в виде текстовых сообщений с напоминанием о начале занятия за 24 (двадцать четыре) и за 1 (один) час.
              </li>
              <li>
                Связь с Преподавателем устанавливается путем инициирования контакта одной из сторон (Студента или Преподавателя).
                Контактные данные для связи известны обоим лицам сразу после запланированного занятия путем отправки ИС таких данных на почту Студенту и Преподавателю соответственно.
                В рамках такой связи уточняются детали по проведению занятия (платформа для проведения, наличие веб-камеры и другие детали для обеспечения проведения запланированного занятия).
              </li>
              <li>
                При фактическом начале занятия все участники должны присутствовать в сети на платформе, на которой было договорено проводить занятие между Студентом и Преподавателем.
              </li>
              <li>
                После Первого занятия, реализованного для Студента, Преподаватель автоматически прикрепляется к такому Студенту, если Студент не переопределит такого Преподавателя вручную (но не более 2 (двух) раз в год).
                В таком случае весь алгоритм взаимодействия начинается вновь с пункта 1.3 текущих правил.
              </li>
              <li>
                После успешного проведения занятия – занятие списывается с виртуального счета Студента, и Преподаватель назначает вместе со Студентом дату и время проведения
                следующего занятия, если Студент согласен на него и ему доступно такое занятие относительно его виртуального счета.
              </li>
              <li>
                Студент имеет опциональную возможность оставить отзыв о проведенном занятии с целью улучшения качества обслуживания.
              </li>
            </ol>
          </li>
          <li class="subheading">
            <h6>Условия проведения сессии занятия:</h6>
            <ol>
              <li>
                В случае, если Студент не явился на занятия в течение 5 (пяти) минут с начала такого занятия – Преподаватель должен уведомить Студента
                любым доступным способом о его ожидании в открытом для него канале связи.
              </li>
              <li>
                Если Cтудент не явился после уведомления от Преподавателя – Преподаватель должен оставаться в сети
                на платформе минимум 15 (пятнадцать) минут с момента фактического начала занятия, а если по истечении этого времени Студент также не появился
                на занятии – имеет право покинуть Платформу видеоконференции и сразу договориться со Студентом о переносе занятия.
              </li>
              <li>
                Если занятие было запланировано, а Студент по определенным причинам не посетил его, не уведомив при этом Преподавателя как минимум за 2 (два) 
                часа – стоимость такого запланированного занятия автоматически списывается с виртуального счета Студента¹.
              </li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </li> 
</ol>
{% endblock text_doc %}

{% block text_note_doc %}
<p>
  <sup>
   ¹ Исключением является Пробное занятие, по которому Студент забыл предупредить Преподавателя о его отсутствии на нём.
    Средства с кошелька Студента в этом случае не списываются, но Пробное занятие сгорает.
  </sup>
</p>
{% endblock text_note_doc %}