{% extends 'pages/base.html' %}

{% block title %}Политика конфиденциальности{% endblock title %}

{% block title_doc %}Политика в отношении обработки персональных данных{% endblock title_doc %}

{% block text_doc %}
<h4 class="text-center" id="personal-data-processing">
  Согласие на обработку персональных данных
</h4>
<p>
  Заполняя веб-форму и отправляя указанные в ней персональные данные, я даю свое согласие ООО "Триединство" (ОГРН 1032311680983, адрес: 354000, Краснодарский край, город Сочи, Дагомысская ул., д.19,
  далее — Goodluck English School) на обработку моих персональных данных в соответствии с политикой конфиденциальности (http://127.0.0.1:8000/pages/privacy_policy/) с использованием средств автоматизации или
  без использования таких средств любыми способами, включая, но не ограничиваясь, сбор, запись, систематизацию, накопление, хранение, уточнение, обновление, изменение, электронное копирование,
  извлечение, использование, передачу (распространение, предоставление, доступ), трансграничную передачу, обезличивание, блокирование, удаление, уничтожение, для целей, указанных ниже.
</p>

<b>
  Давая согласие, я подтверждаю, что:
</b>
<ul>
  <li>
    действую свободно, по своей воле и в своих интересах;
  </li>
  <li>
    являюсь дееспособным;
  </li>
  <li>
    мое согласие является конкретным, информированным и сознательным.
  </li>
</ul>

<h5>
  Цели обработки персональных данных
</h5>

<p class="m-0">Я понимаю, что Goodluck English School собирает мои персональные данные с целью:</p>
<ul>
  <li>
    надлежащего оказания услуг, принятия и обработки заказов на оказание таких услуг;
  </li>
  <li>
    регистрации на Сервисах, идентификации пользователя Сервиса, восстановления пароля от Сервисов, а также в любых других случаях, связанных с такими действиями;
  </li>
  <li>
    рассылки сообщений, связанных с предоставлением доступа к сайту http://127.0.0.1:8000;
  </li>
</ul>

<b>Перечень персональных данных, на обработку которых я даю согласие:</b>

<p>
  Мои персональные данные: имя, фамилия, отчество, адрес электронной почты; номер телефона; образование.
  Иная информация, обрабатываемая Goodluck English School: данные о технических средствах (устройствах):
  IP-адрес, тип устройства (персональный компьютер, мобильный телефон, планшет), географическое положение, факт заполнения вебформы;
  информация, автоматически получаемая при доступе к Сервису, в том числе к сайту с использованием cookies.
</p>

<h5>
  Передача персональных данных третьим лицам
</h5>

<p>
  Настоящим я признаю и подтверждаю, что в случае необходимости и для достижения указанных выше целей Goodluck English School
  вправе передавать мои персональные данные третьим лицам. Такими третьими лицами являются исполнители по договорам,
  преподаватели и иные уполномоченные ими лица. Я также даю согласие на передачу моих персональных данных таким третьим лицам для
  их обработки в целях и способами, указанными выше. Настоящее согласие действует до момента его отзыва в письменной форме.
  Я уведомлен и согласен с тем, что я могу отписаться от рассылки и отозвать свое согласие в любой момент, написав об этом на
  электронную почту goodluck-eng@yandex.ru. Также я могу отозвать согласие, направив в Goodluck English School уведомление в письменной форме по указанному выше адресу.
  Такое уведомление направляется заказным письмом с описью вложения. В случае отзыва моего согласия мои персональные данные будут уничтожены в течение
  30 (тридцати) календарных дней с даты получения Goodluck English School уведомления об отзыве. Обработка моих персональных данных будет прекращена, за исключением случаев,
  прямо предусмотренных законодательством Российской Федерации.
</p>
{% endblock text_doc %}